# Preliminary Data exploration

Dataset met alle metadata en preprocessing steps binnenhalen.

In [58]:
import pandas as pd

df = pd.read_csv("../Materials/KVO_META.csv", encoding='utf8', index_col=False)

In [59]:
for column in df.columns:
    try:
        df[column] = df[column].str.strip()
    except AttributeError:
        continue

In [60]:
df = df.set_index('Collection')

In [61]:
#Only keep the relevant columns
df = df[['Normalised title', 'Composer', 'Occasion', 'Original language']]
df.sample(5)

,Normalised title,Composer,Occasion,Original language
Collection,,,,
1930-1931,Het Mirakel,Engelbert Humperdinck,NaN,DUI
1927-1928,De Verkochte Bruid,Bedrich\tSmetana,NaN,TSJ
1893-1897,Tannhauser,Richard Wagner,Volgens de nota van Verbruggen is deze voorste...,DUI
1909-1910,Oedipus,Antonio Sacchini,NaN,FR
1924-1925,De Legende van Sakuntala,Franco Alfano,NaN,ITA

In [53]:
#Create a new column in which we keep track of: 
#   the Gala performances (G)
#   the popular peformances (P)
#   all others (N)

df['Occasion'] = df['Occasion'].str.lower()
df['OCC'] = df['Occasion'].astype(str).apply(lambda x: 'G' if 'gala' in x else 'P' if 'volk' in x.lower() else 'N')
df['OCC'].value_counts()

N    3966
G     463
P      41
Name: OCC, dtype: int64

In [54]:
#Create boolean column for original Dutch performances (True) and others (False)
df['Dutch'] = df['Original language'].astype(str).apply(lambda x: 'True' if 'NL' in x else 'False')
df['Dutch'].value_counts()

False    3549
True      921
Name: Dutch, dtype: int64

In [62]:
#Drop irrelevant columns, and rename occasion column.
df.drop(['Occasion', 'Original language'], axis='columns', inplace=True)
df.rename(columns={"OCC": "Occasion"}, inplace=True)
df.head()

In [63]:
#export the dataframe

In [64]:
#df.to_csv('Binomial_prep.csv', index = False, encoding = 'utf-8-sig')